// app global css in SCSS form
@font-face {
  font-family: righteous;
  src: url(./fonts/Righteous-Regular.ttf);
}

// themes
.theme-1 {
  background-color: #08AEEA;
  background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
}

.theme-2 {
  background-color: #FFE53B;
  background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
}

.theme-3 {
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

.theme-4 {
  background-color: #FAACA8;
  background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
}

.theme-5 {
  background-color: #FEE140;
  background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
}

.theme-preview {
  height: 50px;
  width: 20%;
  display: inline-block;
  margin: 5px;
}

.theme-preview {
  cursor: pointer;
}

.theme-list {
  width: 100%;
  padding: 0 10px;
  margin: 10px 0 0 0;
}

.question-listing {
  width: 60%;
  padding: 50px;
  overflow-y: scroll;
  position: relative;
}

.question-listing-phone {
  height: 49vh;
  width: 100%;
  overflow-y: scroll;
  position: relative;
}

.question-listing-add-phone {
  margin-bottom: 50px;
  position: absolute;
  height: 20vh;
  width: 100%;
}

.editor-sidebar-phone {
  height: 30vh;
  width: 100%;
  overflow-y: scroll;
  padding: 2rem;
}

.flex-container {
  flex-direction: column;
}

.editor-sidebar {
  width: 40%;
  padding: 50px;
}

.editor-title h3 {
  margin: 0 0 50px 0;
}

.editor-title h5 {
  margin: 0 0 0.5rem 0;
}

.question-answer-listing {
  min-width: 10rem;
  /* height: 90vh; */
  margin-top: 0 !important;
  border: 1px solid #f3f3f3;
}

.question-answer-listing[aria-grabbed="true"] {
  background: #5cc1a6;
  color: #fff;
}

.question-answer-listing-item:nth-child(odd) {
  background-color: #f3f3f3;
  ;
}

.question-answer-listing .list-item.correct {
  font-weight: bold;
}

.question-listing .question-card {
  width: 100%;
  margin-bottom: 50px;
}

.question-listing-add {
  margin-bottom: 50px;
  position: absolute;
  width: 80%;
}

.question-card {
  width: 100vw;
}

.question-card .card-header {
  position: relative;
}

.question-card .card-toolbar {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 20px;
}

.card-toolbar i {
  margin-right: 10px;
}

.card-toolbar i:hover {
  cursor: pointer;
}

.question-card .answer-button {
  width: 50%;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
}

.question-card .answer-button:hover {
  background-color: #bbb;
  cursor: pointer;
}

.question-card .answer-button:hover .pre {
  background-color: white;
}

.question-card .answer-button p {
  margin: 0;
  display: inline-block;
}

.answer-button .pre {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 0 0 10px;
  padding: 0;
}

.answer-button .sel {
  height: 25px;
  width: 25px;
  background-color: #56CCF2;
  border-radius: 50%;
  display: inline-block;
  margin: 0 0 0 10px;
  padding: 0;
}

.answer-button .pre p {
  margin: 2px;
}
